html {width:100%}

body {background-color: #EFEFEF;
      font-size:0.8em;
      font-family:sans-serif;}
      
ol#chat   {list-style-type: none;
           padding-left:4px;
           height: 200px;
           overflow-y: auto;}

span {margin-right: 6px;}

input {border:solid black 1px;}

input#input {width:80%;}

label#username-label {font-weight: bold;}

span.info {display: inline-block;
           width: 80px;
           text-align: right;
           overflow: hidden;
           white-space: nowrap; 
           text-overflow:ellipsis;
           margin-bottom:-3.5px;
           padding-right:2px;
           border-right:solid black 1px;}

span.login {display: inline-block;
            text-align: right;
            color:red;
            width: 100px;
            overflow: hidden;
            white-space: nowrap; 
            text-overflow:ellipsis;
            margin-bottom:-3.5px;
            padding-right:2px;
            margin-bottom:-3.5px;
            border-right:solid black 1px;}

span.norloge {color: green;}
span.noref {color: blue;}

 /* Le Modal (background) */
div.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
div.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

div#user-id {
    word-break: break-all;
    overflow-wrap: break-word;
    width: 100%;
}
